.button{
    border: 0.1em solid #ED9070;
    background-color: white;
    border-radius: 0.2em;
    font-size: 0.9em;
    font-weight: 900;
    letter-spacing: 0.2em;
    padding: 1em 2em;
    color: #ED9070;
}

.bigger-button{
    width: 100%;
}

.button:hover{
    color:rgb(245, 0, 87);
    border-color: rgb(245, 0, 87);
    cursor: pointer;
}

.button img{
    height: 1.8em;
    margin-bottom: -0.5em;
    margin-right: 1em;
    margin-left: -1em;
    margin-top: -0.5em;
}

.button-container-right{
    margin-right: 2em;
}

.button-container-left{
    margin-left: 2em;
}

.button-container-bigger{
    width: 50%;
}

.center-button-container{
    text-align: center;
}

@media screen and (orientation: portrait) {
   .button-container{
        text-align: center;
    }

    .button{
        margin-top: 0em;
    }
}
